
 
<!-- layout-->
        <div id="layout">       
            <!-- Slide -->           
            <section class="camera_wrap camera_white_skin" id="slide">
                <!-- Item Slide - Caption --> 
                <div  data-src="img/slide/slides/1.jpg?1461597735539">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                    <h1 class="animated fadeInRight">
                                        Play game with sport man
                                    </h1>   
                                    <p class="animated fadeInRight delay1">Looking for a game nearby ? Find out what we have for you.</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="#" class="btn btn-primary" name="subscribe" >More Events</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->

                <!-- Item Slide - Caption --> 
                <div  data-src="img/slide/slides/2.jpg?1461596643994">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                    <h1 class="animated fadeInRight">
                                         Dominique Daniels Returns
                                    </h1>   
                                    <p class="animated fadeInRight delay1">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->

                <!-- Item Slide - Caption --> 
                <div  data-src="img/slide/slides/3.jpg?1461597769744">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                    <h1 class="animated fadeInRight">
                                        Spiranovic Wanderers deal
                                    </h1>   
                                    <p class="animated fadeInRight delay1">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->  
            </section>   
            <!-- End Slide --> 

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="semiboxshadow text-center">
                    <img src="img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                
                <!-- Dark Home -->
                <div class="bg-dark dark-home">
                    <div class="row">
                        <!-- Left Content - Tabs and Carousel -->
                        <div class="col-md-9">
                            <!-- Nav Tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Games</a></li>
                                <li><a href="#profile" data-toggle="tab">Players</a></li>
                                <li><a href="#messages" data-toggle="tab">Teams</a></li>

                            </ul>
                            <!-- End Nav Tabs -->

                            <!-- Content Tabs -->
                            <div class="tab-content">
                              <div class="tab-content">

                                <div id="home" class="tab-pane fade in active">

                                <br>
                                    <h4 style="color:white;">Most popular games</h4>
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                              <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox" ng-controller="EventsCtrl">
                                    <div class="item active" >

                                        <div style="float:left;background-color:white;width:282px;margin-left:80px;margin-bottom: 10px;"ng-repeat="event in events | limitTo : 4">
                                            <img src="img/clubs-logos/1.png" alt="Chania">
                                        <h4><a href="single-news.html">CTA Placement</a></h4>
                                        <p>{{event.description}}</p>
                                        </div>

                                        <!--<div style="float:right;background-color:white;width:282px;margin-right:100px;"> <img src="img/blog/pic01.jpg" alt="Chania">-->
                                        <!--<h4><a href="single-news.html">CTA Placement</a></h4>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--</div>-->

                                    </div>

                                    <!--<div class="item">-->
                                        <!--<div style="float:left;background-color:white;width:282px;margin-left:80px;"> <img src="img/blog/pic02.jpg" alt="Chania">-->
                                        <!--<h4><a href="single-news.html">CTA Placement</a></h4>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--</div>-->

                                        <!--<div style="float:right;background-color:white;width:282px;margin-right:100px;"> <img src="img/blog/pic04.jpg" alt="Chania">-->
                                        <!--<h4><a href="single-news.html">CTA Placement</a></h4>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="item">-->
                                        <!--<div style="float:left;background-color:white;width:282px;margin-left:80px;">    <img src="img/blog/pic04.jpg" alt="Chania">-->
                                        <!--<h4><a href="single-news.html">CTA Placement</a></h4>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--</div>-->

                                        <!--<div style="float:right;background-color:white;width:282px;margin-right:100px;"> <img src="img/blog/pic01.jpg" alt="Chania">-->
                                        <!--<h4><a href="single-news.html">CTA Placement</a></h4>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    </div>

                                    <!-- ici -->
                                </div>
                                </div>

                                <div id="profile" class="tab-pane fade">
                                <br>
                                    <h4 style="color:white;">Most rated players</h4>
                                <table>
                                <tr>
                                    <td><a href="home.html"><img src="/img/players/pl/1.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/2.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/3.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/4.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/5.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/6.jpg"></a></td>
                                </tr>
                                    <tr><td><br></td></tr>
                                <tr>
                                    <td><a href="home.html"><img src="/img/players/pl/7.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/8.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/9.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/10.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/1.jpg"></a></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a href="home.html"><img src="/img/players/pl/3.jpg"></a></td>
                                </tr>
                                </table>





                                  </div>
                                <div id="messages" class="tab-pane fade">...</div>
                                <div id="settings" class="tab-pane fade">...</div>
                                </div>
                                <!-- Tab Theree - Club Teams -->
                            </div>
                            <!-- Content Tabs -->
                        </div>
                        <!-- Left Content - Tabs and Carousel -->    

                        <!-- Right Content - Content Counter -->
                        <!--<div class="col-md-3" ng-controller = "EventsCtrl">-->
                            <!--<aside>-->
                                <!--<div class="title-color text-center">-->
                                    <!--<h4>Coming up next</h4>-->
                                <!--</div>-->

                                <!--<div class="content-counter content-counter-home" ng-repeat="event in events | limitTo : 1">-->
                                    <!--<p class="text-center"> -->
                                        <!--<i class="fa fa-clock-o"></i> -->
                                        <!--Countdown Till Start-->
                                    <!--</p>-->
                                    <!--<div id="event-one" class="counter"></div>-->
                                    <!--<ul class="post-options">-->
                                        <!--<li><i class="fa fa-calendar"></i>{{event.start_date}}</li>-->
                                        <!--<li><i class="fa fa-clock-o"></i>Kick-of, {{event.end_date}} PM</li>-->
                                    <!--</ul>-->
                                    <!--<p>{{event.description}}</p>-->
                                    <!--<p>Stay tuned </p>-->
                                    <!--<a class="btn btn-primary" href="">-->
                                        <!--VIEW EVENT PAGE-->
                                        <!--<i class="fa fa-trophy"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</aside>            -->
                            <!--&lt;!&ndash; Content Counter &ndash;&gt;-->
                        <!--</div>-->
                        <div class="col-md-3" ng-controller="EventsCtrl">
                            <aside>
                                <div class="title-color text-center">
                                    <h4>World Cup Championship</h4>
                                </div>

                                <div class="content-counter content-counter-home" ng-repeat="event in events |limitTo : 1">
                                    <p class="text-center">
                                        <i class="fa fa-clock-o"></i>
                                        Countdown Till Start
                                    </p>
                                    <div id="event-three" class="counter"><span>00 <br> <small>days</small></span>  <span>00 <br> <small>hr</small> </span>  <span>00 <br> <small>min</small> </span>  <span>00 <br> <small>sec</small></span> </div>

                                    <div id="event-one" class="counter"></div>
                                    <ul class="post-options">
                                        <li><i class="fa fa-calendar"></i>{{event.start_date}} PM</li>

                                    </ul>
                                    <p>{{event.description}}</p>
                                    <p>STAY TUNED !</p>
                                    <a class="btn btn-primary" href="">
                                        VIEW EVENT PAGE
                                        <i class="fa fa-trophy"></i>
                                    </a>
                                </div>
                            </aside>
                            <!-- Content Counter -->
                        </div>
                        <!-- End Right Content - Content Counter -->
                    </div>
                </div>   
                <!-- Dark Home -->

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">
                        
                       <!-- content Column Left -->
                        <div class="col-xs-12 col-md-6 col-lg-7">                     
                            <!-- Recent Post -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Recent News</h4>
                                </div>

                                <div ng-repeat="n in news">
                                <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="img/clubs-logos/4.jpg" alt="" class="img-responsive">
                                               <div class="overlay"><a href="single-news.html">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="single-news.html">{{n.title}} ............</a></h4>
                                            <p class="data-info">{{n.date}}  / <i class="fa fa-comments"></i><a href="#">0</a></p>
                                            <p>{{n.description}} ...<a href="single-news.html">Read More [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                              </div>

                                 <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="img/clubs-logos/5.jpeg" alt="" class="img-responsive">
                                               <div class="overlay"><a href="single-news.html">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="single-news.html">Sesame beated Insat with amazing 3 goals     </a></h4>
                                            <p class="data-info">Febrary 20, 2016  / <i class="fa fa-comments"></i><a href="#">5</a></p>
                                            <p>It was a match on fire, seasame beated insat with amazing goals... <a href="single-news.html">Read More [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->

                                 <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                          <div class="img-hover">
                                               <img src="img/blog/fst.png" alt="" class="img-responsive">
                                               <div class="overlay"><a href="single-news.html">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="single-news.html">A team composed by 6 playeers from the fst played ...</a></h4>
                                            <p class="data-info">January  10, 2016  / <i class="fa fa-comments"></i><a href="#">3</a></p>
                                            <p>the match was amazing ... <a href="single-news.html">Read More [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->

                                 <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="img/blog/4.jpg" alt="" class="img-responsive">
                                               <div class="overlay"><a href="single-news.html">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="single-news.html">Porto Alegre and Cuiabá to welcome Valcke</a></h4>
                                            <p class="data-info">January 8, 2014  / <i class="fa fa-comments"></i><a href="#">2</a></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc... <a href="single-news.html">Read More [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                            </div>  
                            <!-- End Recent Post --> 

                            <!-- Experts -->
                            <div class="panel-box">                            
                                <div class="titles">
                                    <h4>Sports Experts</h4>
                                </div>     

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/2.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/3.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/4.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/5.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/3.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/4.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 

                                </div>                          
                            </div>  
                            <!-- End Experts -->  
                        </div>
                         <!-- End content Left -->

                        <!-- content Sidebar Center -->
                        <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-3">                     
                            <!-- Locations -->
                            <div class="panel-box" ng-controller="GroundsCtrl">
                            
                                <div class="titles">
                                    <h4>Available Sport Grounds</h4>
                                </div>
                                <!-- Locations Carousel --> 
                                <ul class="single-carousel" ng-repeat="ground in grounds">    
                                    <li>
                                        <a ng-if="ground.picture != '' " href="#">
                                                <img src="http://localhost:3000/uploads/{{ground.picture}}" alt="" class="img-responsive">
                                        </a>
                                        <a ng-if="ground.picture == ''" href="single-news.html">
                                                <img src="http://localhost:3000/uploads/no-img.png" alt="" class="img-responsive">
                                            </a>
                                        <div class="info-single-carousel">
                                            <h4>{{ground.name}}</h4>
                                            <p>{{ground.description}}</p>
                                        </div>
                                    </li>
                                                                       
                                </ul>
                                <!-- Locations Carousel -->                                
                            </div>  
                            <!-- End Locations --> 

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Presentation</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <iframe src="//www.youtube.com/embed/l12OhR6nxiM" class="video"></iframe>
                                    <div class="col-md-12">
                                        <h4>Rio de Janeiro</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla pariatur.</p>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->

                            <!-- Widget Text-->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4> A utiliser</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                            </div>  
                            <!-- End Widget Text-->
                        </aside>
                        <!-- End content Sidebar Center -->

                        <!-- content Sidebar Right -->
                        <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-2">                     
                            <!-- Diary -->
                            <div class="container padding-top">
                    <div class="row">
                        
                       <!-- content Column Left -->
                        <div class="col-xs-12 col-md-6 col-lg-7">                     
                            <!-- Recent Post -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Recent News</h4>
                                </div>

                                <div ng-repeat="n in news">
                                <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="img/clubs-logos/news.png" alt="" class="img-responsive">
                                               <div class="overlay"><a href="single-news.html">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="single-news.html">{{n.title}} ............</a></h4>
                                            <p class="data-info">{{n.date}}  / <i class="fa fa-comments"></i><a href="#">0</a></p>
                                            <p>{{n.description}} ...<a href="#/singleNews/{{n._id}}">Read More [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                              </div>


                                 <!-- Post Item -->
                             <!--   <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="img/blog/4.jpg" alt="" class="img-responsive">
                                               <div class="overlay"><a href="single-news.html">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="single-news.html">Porto Alegre and Cuiabá to welcome Valcke</a></h4>
                                            <p class="data-info">January 8, 2014  / <i class="fa fa-comments"></i><a href="#">2</a></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet elementum, nunc... <a href="single-news.html">Read More [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>-->
                                 <!-- End Post Item -->
                            </div>  
                            <!-- End Recent Post --> 

                            <!-- Experts -->
                            <div class="panel-box">                            
                                <div class="titles">
                                    <h4>Sports Experts</h4>
                                </div>     

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/2.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/3.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/4.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/5.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/3.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/4.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                            <p class="date-box">Abril 15, 2014</p>
                                        </div>
                                    </div> 

                                </div>                          
                            </div>  
                            <!-- End Experts -->  
                        </div>
                         <!-- End content Left -->

                        <!-- content Sidebar Center -->
                        <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-3">                     
                            <!-- Locations -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Available Sport Grounds</h4>
                                </div>
                                <!-- Locations Carousel --> 
                                <ul class="single-carousel">    
                                    <li>
                                        <img src="img/blog/1.jpg" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4>Mourouj 2</h4>
                                            <p>Wana play football match ? a 100m² ground for football is available for more details 
                                            contact the owner.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="img/blog/2.jpg" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4>Brazilia</h4>
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla pariatur.</p>-->
                                        </div>
                                    </li> 
                                    <li>
                                        <img src="img/blog/3.jpg" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4>Sao Paulo</h4>
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla pariatur.</p>-->
                                        </div>
                                    </li>                                    
                                </ul>
                                <!-- Locations Carousel -->                                
                            </div>  
                            <!-- End Locations --> 

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Presentation</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <iframe src="//www.youtube.com/embed/l12OhR6nxiM" class="video"></iframe>
                                    <div class="col-md-12">
                                        <h4>Rio de Janeiro</h4>
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla pariatur.</p>-->
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->

                            <!-- Widget Text-->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4> A utiliser</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                       <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore.</p>-->
                                    </div>
                                </div>
                            </div>  
                            <!-- End Widget Text-->
                        </aside>
                        <!-- End content Sidebar Center -->

                        <!-- content Sidebar Right -->
                        <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-2">                     
                            <!-- Diary -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4><i class="fa fa-calendar"></i>Current Events</h4>
                                </div>
                                <!-- List Diary --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Esprit community is playing now with insat team.</p>
                                        <ul class="list-diary">
                                            <!-- Item List Diary --> 
                                            <li>
                                                <h5>Esprit-Insat<span>06-05-2014 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="img/clubs-logos/4.jpg" alt="">
                                                        <h6>Esprit Sport</h6>
                                                    </li>
                                                    <li>
                                                        <img src="img/clubs-logos/5.jpeg" alt="">
                                                        <h6>Insat</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 

                                            <!-- Item List Diary --> 
                                            <li>
                                                <h5>Sport club- legends <span>06-05-2014 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="img/clubs-logos/3.png" alt="">
                                                        <h6>Sport club</h6>
                                                    </li>
                                                    <li>
                                                        <img src="img/clubs-logos/6.png" alt="">
                                                        <h6>legends</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 

                                            <!-- Item List Diary --> 
                                            <li>
                                                <h5>LIGA BBVA <span>06-05-2014 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="img/clubs-logos/4.jpg" alt="">
                                                        <h6>Esprit Sport</h6>
                                                    </li>
                                                    <li>
                                                        <img src="img/clubs-logos/5.jpeg" alt="">
                                                        <h6>Insat</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 
                                        </ul>
                                    </div>
                                </div>
                                                               
                            </div>  
                           
                            <div class="panel-box">
                                <div class="titles">
                                    <h4><img src="img/icons/twitter.png"/>Latest Tweets</h4>
                                </div>
                                <!-- List Diary --> 
                                <div class="row">
                                    <div class="col-md-12">
                                       
                                        <ul class="list-diary">
                                            <li>
                                             <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                              <div class="carousel-inner" role="listbox">

                                                <div class="item active" style="font-family:'AgencyFB'; font-size:16px;">
                                                  
                                                    PalySportNow<br>
                                                    We mean it is playing now against mean stack <br>
                                                    @PlaySportNow
                                                </div>                                            
                                                <div ng-repeat="h in history" class="item">
                                                    <h5>{{h.text}}</h5><br>
                                                    <h6>{{h.created_at}}</h6>
                                                    <h6 style="color:#3399ff">@{{h.user.screen_name}}</h6>
                                                </div>  
                                            </div>
                                            </div>                                                
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                                               
                            </div>   
                           
                        </aside>
                      
                        
                    </div>                     
                </div>  
<!--                           Weath-->
<div class="panel-box"  ng-repeat="w in wea">
                                <div class="titles">
                                    <h4><img src="{{w.current.imageUrl}}"/>Weather</h4>
                                </div>
                                <!-- List Diary -->
                                <div class="row">
                                    <div class="col-md-12">

                                        <ul class="list-diary">
                                            <li>
                                             <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                              <div class="carousel-inner" role="listbox">

                                                <div class="item active" style="font-family:'AgencyFB'; font-size:16px;">

                                                    Weather<br>

                                                </div>
                                                <div class="item">
                                                    <h5>{{w.location.name}}</h5><br>
                                                    <h6>{{w.current}}</h6>
                                                    <h6 style="color:#3399ff">Tmp:{{w.location.degreetype}}</h6>
                                                </div>


                                            </div>
                                            </div>



                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
<!--                    end       Weath-->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4><img src="img/icons/twitter.png"/>Latest Tweets</h4>
                                </div>
                                <!-- List Diary --> 
                                <div class="row">
                                    <div class="col-md-12">
                                       
                                        <ul class="list-diary">
                                            <li>
                                             <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                              <div class="carousel-inner" role="listbox">

                                                <div class="item active" style="font-family:'AgencyFB'; font-size:16px;">
                                                  
                                                    PalySportNow<br>
                                                    We mean it is playing now against mean stack <br>
                                                    @PlaySportNow
                                                </div>                                            
                                                <div ng-repeat="h in history" class="item">
                                                    <h5>{{h.text}}</h5><br>
                                                    <h6>{{h.created_at}}</h6>
                                                    <h6 style="color:#3399ff">@{{h.user.screen_name}}</h6>
                                                </div>	
                                               

                                            </div>
                                            </div>
                                                
                                                
                                                
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                                               
                            </div>   
                           
                        </aside>
                      
                        
                    </div>                     
                </div>  
            </section>
          

                       
   <!-- Organize a game Modal-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5>Be the sport Man and organize your game now</h5>
      </div>
      <div class="modal-body">
        <form role="form" action="/TeamProfile/teamProfile.html">
        <center><table>
            <tr><td>Comunity's Name</td><td><input type="text" class="form-control" id="ex1"  required></td></tr>
            <tr><td><br></td></tr>
            <tr><td>Slogan</td><td><input type="text" class="form-control" id="ex1"  required></td></tr>
            <tr><td><br></td></tr>
            <tr><td>Sport's Type</td>
                <td>
                    <select class="form-control" >
                        <option>FootBall</option>
                        <option>BasketBall</option>
                        <option>VollayBall</option>
                        <option>Tennis</option>
                    </select>
                </td>
            </tr>
            <tr><td><br></td></tr>
            <tr><td>Description</td>
                <td>
                     <input type='textarea' class="form-control"/>
                </td>
            </tr>
           
        </table></center>
        <br>
         <center><a href="#/teamProfile" type="button" class="btn btn-success">Submit</a>&nbsp;<a href="#"class="btn btn-default" >Reset</a></center>
        </form>
        
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
   <!-- Fin Organize a game Modal-->         
            
        </div>

        <!-- End layout-->

       
 
