<!DOCTYPE html>
<html lang="en" ng-app="modalTest">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <title>Referee Space</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="World Cup - Responsive HTML5 Template soccer and sports">
        <meta name="author" content="iwthemes.com">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Theme CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen">
        <!-- Responsive CSS -->
        <link href="css/theme-responsive.css" rel="stylesheet" media="screen">

        <!-- tof CSS -->
        <link href="css/tof/tof_style.css" rel="stylesheet" media="screen">

        <!-- modal CSS -->
        <link href="css/modal/style.css" rel="stylesheet" media="screen">

        <!-- Skins Theme -->
        <link href="#" rel="stylesheet" media="screen" class="skin">

        <!-- Favicons -->
        <link rel="shortcut icon" href="img/icons/favicon.ico">
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">

        <!-- Head Libs -->
        <script src="js/modernizr.js"></script>

        <!--[if IE]>
            <link rel="stylesheet" href="css/ie/ie.css">
        <![endif]-->

        <!--[if lte IE 8]>
            <script src="js/responsive/html5shiv.js"></script>
            <script src="js/responsive/respond.js"></script>
        <![endif]-->

        <!-- Skins Changer-->
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    </head>
    <body ng-controller="dialogServiceTest" class="pad">


<!--      Titre de la page -->
      <section class="section-title img-news">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>Referee Space</h1>
                </div>
            </section>

<!--            Contenue de la page  -->
      <section class="content-info">

                <div class="crumbs">
                    <div class="container">
                        <ul>
                            <li><a href="index.html">Referee Space</a></li>

                        </ul>
                    </div>
                </div>

                <div class="semiboxshadow text-center">
                    <img src="img/img-theme/shp.png" class="img-responsive" alt="">
                </div>

                <!-- Content Central -->
                <div class="container padding-top">




<!--                                  Les Photos partagés     -->
<div class="col-md-8">
                           <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">4</div>
                                    <div>Suggestions</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/sugg">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>Match Nearly </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>

                          <ul class="events-carousel events-no-carousel" ng-repeat="insta in instaLiked">

                                    <!-- Item blog post -->
                                    <li class="col-xs-6 col-sm-6 col-md-4">
                                        <div class="header-post">
                                            <div class="date">
                                                <span>08/jan</span>
                                                2014
                                            </div>
                                            <a href="single-news.html"><img src="{{insta.images.standard_resolution.url}}" alt=""></a>
                                            <div class="meta-tag">
                                                <ul>
                                                    <li><i class="fa fa-user"></i><a href="#">{{insta.user.full_name}}</a></li>
                                                    <li><i class="fa fa-folder-open"></i><a href="#">{{insta.tags}}</a></li>
                                                    <li class="text-right"><i class="fa fa-comment"></i><a href="#">{{insta.likes.count}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="info-post">
                                            <h4><a href="ground-details.html">{{insta.location.name}}</a></h4>
                                            <p>{{insta.caption.text}}</p>
                                        </div>
                                    </li>
                                    <!-- End Item blog post -->
 </ul>
                           </div>

<!--                           Les postes d'instagram liké et suivi -->

<!--                           FIN instagram liké et suivi -->


                                                    <!--Les matchs Proches qu'il peut en suggérer -->
                                                    <aside class="col-md-4">
                                <!-- Info -->
                                <div class="panel-box">
                                    <div class="titles">
                                        <h4><i class="fa fa-calendar"></i>Upcoming Matchs</h4>
                                    </div>
                                    <!-- Carousel Events -->
                                    <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <!-- Item  Event  -->
                                        <div class="owl-wrapper-outer autoHeight" style="height: 428px;"><div class="owl-wrapper" style="width: 2148px; left: 0px; display: block;"><div class="owl-item" style="width: 358px;"><li>
                                            <div class="content-counter">
                                                <p class="text-center">
                                                    <i class="fa fa-clock-o"></i>
                                                    Countdown The next match
                                                </p>
                                                <div id="event-one" class="counter"><span>02 <br> <small>days</small></span>  <span>13 <br> <small>hr</small> </span>  <span>05 <br> <small>min</small> </span>  <span>20 <br> <small>sec</small></span> </div>
                                                <ul class="post-options">
                                                    <li><i class="fa fa-calendar"></i>June 12, 2014</li>
                                                    <li><i class="fa fa-clock-o"></i>Kick-of, 12:00 PM</li>
                                                </ul>
                                                <ul class="list-diary">
                                                    <!-- Item List Diary -->
                                                    <li>
                                                        <h5>LIGA BBVA <span>06-05-2014 - 11:00</span></h5>
                                                        <ul class="club-logo">
                                                            <li>
                                                                <img src="img/clubs-logos/1.png" alt="">
                                                                <h6>Real Madrid</h6>
                                                            </li>
                                                            <li><span>Vs</span></li>
                                                            <li>
                                                                <img src="img/clubs-logos/2.png" alt="">
                                                                <h6>Valladolid</h6>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <!-- End Item List Diary -->

                                                </ul>
                                                <button class="btn btn-primary" ng-click="launch('create')">
                                                    Suggest to them

                                                </button>


                                            </div>
                                        </li></div><div class="owl-item" style="width: 358px;"><li>
                                            <div class="content-counter">
                                                <p class="text-center">
                                                    <i class="fa fa-clock-o"></i>
                                                    Countdown Till Start
                                                </p>
                                                <div id="event-two" class="counter"><span>00 <br> <small>days</small></span>  <span>00 <br> <small>hr</small> </span>  <span>00 <br> <small>min</small> </span>  <span>00 <br> <small>sec</small></span> </div>
                                                <ul class="post-options">
                                                    <li><i class="fa fa-calendar"></i>August 27, 2014</li>
                                                    <li><i class="fa fa-clock-o"></i>Kick-of, 12:00 PM</li>
                                                </ul>
                                                <p>Ei eum affert postulant, ius te mazim zril alterum. Illum dolorem ius ut, eu postulant principes sit.  ert postulant, ius te mazim zril alterum Tibique scriptorem cu pri, te fugit voluptatum mel, nibh exerci denique at qui.</p>
                                                <a class="btn btn-primary" href="#">
                                                    VIEW EVENT PAGE
                                                    <i class="fa fa-trophy"></i>
                                                </a>
                                            </div>
                                        </li></div><div class="owl-item" style="width: 358px;"><li>
                                            <div class="content-counter">
                                                <p class="text-center">
                                                    <i class="fa fa-clock-o"></i>
                                                    Countdown Till Start
                                                </p>
                                                <div id="event-three" class="counter"><span>00 <br> <small>days</small></span>  <span>00 <br> <small>hr</small> </span>  <span>00 <br> <small>min</small> </span>  <span>00 <br> <small>sec</small></span> </div>
                                                <ul class="post-options">
                                                    <li><i class="fa fa-calendar"></i>December 27, 2014</li>
                                                    <li><i class="fa fa-clock-o"></i>Kick-of, 12:00 PM</li>
                                                </ul>
                                                <p>Ei eum affert postulant, ius te mazim zril alterum. Illum dolorem ius ut, eu postulant principes sit.  ert postulant, ius te mazim zril alterum Tibique scriptorem cu pri, te fugit voluptatum mel, nibh exerci denique at qui.</p>
                                                <a class="btn btn-primary" href="#">
                                                    VIEW EVENT PAGE
                                                    <i class="fa fa-trophy"></i>
                                                </a>
                                            </div>
                                        </li></div></div></div>
                                        <!-- End Item  Event  -->

                                        <!-- Item  Event -->

                                        <!-- End Item  Event -->

                                        <!-- Item  Event -->

                                        <!-- End Item  Event -->
                                    <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></ul>
                                    <!-- End Carousel Events -->
                                </div>
                                <!-- End Info-->

                                <!-- Locations -->
                                <div class="panel-box">

                                    <div class="titles">
                                        <h4>Last location</h4>
                                    </div>
                                    <!-- Locations Carousel -->
                                    <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <div class="owl-wrapper-outer autoHeight" style="height: 423px;"><div class="owl-wrapper" style="width: 2148px; left: 0px; display: block;"><div class="owl-item" style="width: 358px;"><li>
                                            <img src="img/blog/1.jpg" alt="" class="img-responsive">
                                            <div class="info-single-carousel">
                                                <h4>Rio de Janeiro</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip consectetur adipisicing elit ex.</p>
                                            </div>
                                        </li></div><div class="owl-item" style="width: 358px;"><li>
                                            <img src="img/blog/2.jpg" alt="" class="img-responsive">
                                            <div class="info-single-carousel">
                                                <h4>Brazilia</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip consectetur adipisicing elit ex.</p>
                                            </div>
                                        </li></div><div class="owl-item" style="width: 358px;"><li>
                                            <img src="img/blog/3.jpg" alt="" class="img-responsive">
                                            <div class="info-single-carousel">
                                                <h4>Sao Paulo</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip consectetur adipisicing elit ex.</p>
                                            </div>
                                        </li></div></div></div>


                                    <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></ul>
                                    <!-- Locations Carousel -->
                                </div>
                                <!-- End Locations -->
                            </aside>






                </div>
                <!-- End Content Central -->



            </section>

      <!-- Angular Modal -->
       <script src="js/index.js"></script>
       <!-- end Anguar Modal -->

       <!-- ======================= JQuery libs =========================== -->
        <!-- jQuery local-->
        <script src="js/jquery.js"></script>
        <!--Nav-->
        <script type="text/javascript" src="js/nav/tinynav.js"></script>
        <script type="text/javascript" src="js/nav/hoverIntent.js"></script>
        <script type="text/javascript" src="js/nav/superfish.js"></script>
        <script type="text/javascript" src="js/nav/jquery.sticky.js"></script>
        <!--Totop-->
        <script type="text/javascript" src="js/totop/jquery.ui.totop.js" ></script>
        <!--Accorodion-->
        <script type="text/javascript" src="js/accordion/accordion.js" ></script>
        <!--Slide-->
        <script type="text/javascript" src="js/slide/camera.js" ></script>
        <script type='text/javascript' src='js/slide/jquery.easing.1.3.min.js'></script>
        <!-- Maps -->
        <script type="text/javascript" src="js/maps/gmap3.js"></script>
        <!--Ligbox-->
        <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script>
        <!-- carousel.js-->
        <script type="text/javascript" src="js/carousel/carousel.js"></script>
        <!-- Filter -->
        <script type="text/javascript" src="js/filters/jquery.isotope.js"></script>
        <!-- Twitter Feed-->
        <script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
        <!-- flickr Feed-->
        <script type="text/javascript" src="js/flickr/jflickrfeed.min.js"></script>
        <!-- Counter -->
        <script type="text/javascript" src="js/counter/jquery.countdown.js"></script>
        <!--Theme Options-->
        <script type="text/javascript" src="js/theme-options/theme-options.js"></script>
        <script type="text/javascript" src="js/theme-options/jquery.cookies.js"></script>
        <!-- Bootstrap.js-->
        <script type="text/javascript" src="js/bootstrap/bootstrap.js"></script>
        <!--MAIN FUNCTIONS-->
        <script type="text/javascript" src="js/main.js"></script>



        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
    <script src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <!-- ======================= End JQuery libs =========================== -->

    </body>
</html>
