
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Authentication Form</h4>
                                </div>
<!-- Form Contact -->
                                <form class="form-theme" >
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6" style="margin-right : 300px;">
                                                <label>Your Username *</label>
                                                <input type="text"  required="required" value="" maxlength="100" class="form-control" name="Name" id="name">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Your Password *</label>
                                                <input type="password"  required="required" value="" maxlength="100" class="form-control" name="Email" id="email">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
<!--
                                            <input type="submit" value="Login" class="btn btn-lg btn-primary" ng-click="#/teamProfile">
-->
                                            <a value="Login" class="btn btn-lg btn-primary" ng-click="localLogin(login,pwd)">Login</a>
                                            You don't have an account ? <a href="#/signup">Sign Up Now..</a></br>
                                            or <a href="" class="btn btn-primary" ng-click="loginFacebook()">Login with facebook</a>

                                            <a href="" class="btn btn-primary" ng-click="FacebookFriends();">Bring Your Friends from facebook</a>
                                <div id="friends-list-container"></div>

                                            <a class="btn btn-primary" ng-click="myFacebookLogin()">Loginnnnnn</a>
                                            <div id="status">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- End Form Contact --> 
                                
                            </div>
                        
                        <!-- End Right Content -->
