            <!-- Section Title -->           
            <section class="section-title img-communityprofile">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>Community Profile</h1>
                </div>
            </section>
            <!-- End Section Title -->


            <!-- Section Area - Content Central -->
            <section class="content-info">
                
                <!-- Menu-->
          
                 <!-- End Menu-->
                
                
                <div class="semiboxshadow text-center">
                    <img src="img/img-theme/shp.png" class="img-responsive" alt="">
                </div>

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">
                        
                        <!-- content Players --> 
                        <div class="col-md-12">                     
                            <!-- Panel Box -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4><i class="fa fa-envelope"></i>Send invitation</h4>
                                </div>
                                <!-- Players --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Item Players--> 
                                    <div class="widget-container">
                                        <div class="invitation">
                                            <form ng-submit="newinvitation()" role="form">
                                              <div class="form-group">
                                                <label for="title">Object:</label>
                                                <input ng-model="invitatonData.objet" type="text" class="form-control" id="title">
                                              </div>

                                              <div class="form-group">
                                                <label for="content">Content:</label>
                                                  <textarea ng-model="invitatonData.content" type="text" class="form-control" id="content"></textarea>
                                              </div>
                                              <button type="submit" class="btn btn-default"><i class="fa fa-envelope" aria-hidden="true"></i>  send </button>
                                            </form>
                                        </div>
                                        </div>
                                        <!-- End Item Players-->  
                                    </div>
                                </div>
                                <!-- End Players -->                                
                            </div>  
                            <!-- End Panel Box --> 



            </div>
                        </div>
                        <!-- End Players -->


                     
                    </div>    
                
                <!--list news--> 
                 
               <!-- end list news-->
           
<!--<div ng-repeat="h in history">
{{h.text}}
</div>-->
<!-- End Content Central -->

            </section>

